
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<br />
<h2 class="text-center">Teste Api</h2>
<br />
<p class="text-center">Para acessar a documentação da API <strong><a href="~/help">clique aqui</a></strong></p>

